.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sectionHeading {
  display: flex;
  width: 763px;
  height: 96px;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-family: Monument Extended;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.grid {
}

.card {
  width: 650px;
  height: 393px;
  border: 3px solid #000;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerCard {
  width: 607px;
  height: 355px;
  border: 1px dashed #000;
  background: #fff;
  padding: 2%;
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardText {
  width: 95%;
  color: #000;
  font-family: TT Norms;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile
{
display: flex;
flex-direction: row;
align-items: end;

}

.details
{
display: flex;
flex-direction: column;
justify-content: space-evenly;

}

.name 
{
    color: #000;
    font-family: Canopee;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.designation
{
    color: #000;
    font-family: TT Norms;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}